// Colors
$color-dark: #2B2D42;
$color-gray: #8D99AE;
$color-light1: #EDF2F4;
$color-light2: #F6F9FA;
$color-light3: #FFFFFF;
$color-primarylight: #FCEDEF;
$color-primary: #EF233C;
$color-primarydark: #D90429;

